@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
$color1: #182026;
$color2: #202b33;
$color3: #293742;
$color4: #30404d;
$color5: #394b59;
$primary: #137cbd;
body {
  margin: 0;
  color: $primary;
  background-color: $color1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.Main {
  display: flex;
  flex-direction: column;

  align-items: center;

  h1 {
    color: white;
  }
  .Inputs {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    .Number-Inputs {
      display: flex;
      justify-content: space-around;
      width: 100%;
      .number-input {
        width: 10em;
      }
      label {
        color: $primary;
        text-align: center;
      }
    }
  }
  .board-sprite {
    display: grid;
    grid-template-columns: 30% 70%;

    .sprite-preview {
      text-align: center;
      flex-direction: column;
      justify-content: center;
      display: flex;
      align-items: center;
      align-content: center;
      img {
        background-color: red;
      }
    }

    .Board {
      display: grid;
      align-self: start;
      justify-content: left;
      .square {
        background-color: $color2;
        border: solid $color3 0.01em;
        cursor: pointer;
        color: transparent;
      }
      .sprite {
        background-color: $color4;
        border: solid $color3 0.01em;
        z-index: 2;
        color: transparent;
        cursor: arrow;
      }
    }
  }
  .Sprites-container {
    display: flex;
    flex-flow: row-wrap;
    width: 100%;
    justify-content: space-around;

    label {
      color: $primary;
      text-align: center;
    }
    .Sprite-details {
      display: flex;
      width: 8%;

      align-items: center;
      flex-direction: column;
      .sprite-inputs {
        display: flex;
        align-items: center;

        .sprite-size {
          width: 80%;
          margin-left: 10%;
        }
      }
    }
  }
}

h4 {
  color: red;
}
